body {
    background-color: azure;
}

#startBtn {
    margin-top: 100px;
    font-size: 25px;
    
}

#quizChoices {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#quizChoices button {
    font-size: 25px;
    padding: 5px 10px 5px 10px;
    width: 15%;
    margin: 10px;
    
}

#highScores #highScoresButton {
    background-color: azure;
    color: purple;
}

#highScoreButton:hover {
    border: 1px solid;
    background-color: yellow;
    border-radius: 5px;
}

#timer {
    display: block;
    font-size: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
}

#quizQuestion {
    font-size: 40px;
    background-color: purple;
    text-align: center;
    color: white;
    padding: 15px 0 15px 0;
    display: none;
}

#submitArea {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}